<h2>Minhas Reservas</h2>
<table>
  <tr>
    <th>Sala</th>
    <th>Data</th>
    <th>Hora</th>
    <th>Itens</th>
    <th>Ações</th>
  </tr>
  {% for r in reservas %}
  <tr>
    <td>{{ r.sala.nome }}</td>
    <td>{{ r.data }}</td>
    <td>{{ r.hora_inicio }} - {{ r.hora_fim }}</td>
    <td>{% for i in r.itens.all %}{{ i.nome }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
    <td>
      <a href="{% url 'editar_reserva' r.id %}">Editar</a>
      <a href="{% url 'deletar_reserva' r.id %}">Excluir</a>
    </td>
  </tr>
  {% empty %}
  <tr><td colspan="5">Nenhuma reserva feita ainda.</td></tr>
  {% endfor %}
</table>